.App {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  background: blue;
}
.oben {
  background: black;
}
html,
body,
#root {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
